/* .form-child-container {
  border-radius: 5px;
  padding: 20px;
} */

.logo-holder {
  display: flex;
  align-items: center;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 30px;
  height: fit-content;
  width: fit-content;
}

.logo-image {
  flex: 1;
  height: 60px;
  width: auto;
  padding-right: 10px;
}

.logo-text {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 36px;
  font-weight: bolder;
  color: white;
}

.auth-form {
  width: 60%;
  margin: auto;
}

.auth-form-label {
  display: block;
  text-align: left;
  font-size: 20px;
  color: #5F30DF;
  font-weight: bolder;
}

.auth-form-input {
  display: inline-block;
  width: 100%;
  padding: 16px 24px;
  margin: 10px 0 12px;
  border: 1px solid #ccc;
  border-radius: 24px;
  box-sizing: border-box;
}

.auth-button {
  width: 30%;
  background-color: #5F30DF;
  font-size: 16px;
  color: white;
  padding: 16px 24px;
  margin: 30px 0;
  border: none;
  border-radius: 24px;
  cursor: pointer;
}

.auth-button:hover {
  background-color: blueviolet;
}

.password-container {
  position: relative;
  width: 100%;
}

.password-container button {
  display: flex;
  align-items: center;
  position: absolute;
  height: 32px;
  width: 32px;
  right: 12px;
  top: 18px;
  border: none;
  border-radius: 24px;
  background-color: #9F83EC;
}

.password-container img {
  height: 24px;
  width: auto;
  padding-left: 4px;
}