.Homepage{
    background-color: #C4CEFF;
    height: 100%;
    width: 100%;
}

.connect2Listener{
    height: 400px;
}

.seealltips{
    height: 400px;
}

.articles{
    height: 400px;
}

.books{
    height: 400px;
}